@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Proxima';
    src: url('/fonts/Proxima.otf') format('opentype');
}
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf') format('opentype');
}
@font-face {
    font-family: 'Fragment';
    src: url('/fonts/Fragment.ttf') format('opentype');
}

.logofont {
    @apply font-fragment
}

.mainfont {
    @apply font-inter
}

.border-1 {
    border-width: 1px;
}

.border-b-1 {
    border-bottom-width: 1px;
}

.header {
    min-height: 70svh;
}

.text-xxs {
    font-size: 10px;
}


